<template name="categoriaForm">
  <form>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-textfield mdl-total mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="categoriaNome" value={{categoria.nome}}>
        <label class="mdl-textfield__label" for="categoriaNome">Nome da categoria</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-textfield mdl-total mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows="3" id="categoriaDescricao" value={{categoria.descricao}}></textarea>
        <label class="mdl-textfield__label" for="categoriaDescricao">Descrição da categoria</label>
      </div> 
    </div>
  </form>
</template>