<template name="login">
  <div class="content">
    <div class="title">Login</div>
    <input type="text" class="email" placeholder="E-mail"/>
    <input type="password" class="password" placeholder="Password"/>
    <!-- <input type="checkbox" id="rememberMe"/> -->
    <button class="login">Login</button>
    <div class="social"> <span>ou entre com uma rede social</span></div>
    <div class="buttons">
      <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
      <button class="google"><i class="fa fa-google-plus"></i>Google</button>
    </div>
    <div class="already">Você não tem uma conta? <a href="/criarconta">Criar conta</a></div>
  </div>
</template>

<template name="criarContaUsuario">
  <div class="content">
    <div class="title">Criar conta</div>
    <input type="text" class="email" placeholder="E-mail"/>
    <input type="password" class="password" placeholder="Password"/>
    <input type="checkbox" id="rememberMe"/>
    <div class="social"> <span>ou use algum rede social</span></div>
    <div class="buttons">
    <button class="criarConta">Criar conta</button>
      <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
      <button class="google"><i class="fa fa-google-plus"></i>Google</button>
    </div>
    <div class="already">Você já tem uma conta? <a href="/">Login</a></div>
  </div>
</template>
