<template name="login">
  <div class="login">
    <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
      <main class="mdl-layout__content">
        <div class="mdl-card mdl-shadow--6dp">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Login</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <form class="formLogin">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="email" />
                <label class="mdl-textfield__label" for="email">E-mail</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password" />
                <label class="mdl-textfield__label" for="password">Senha</label>
              </div>
              <div class="botaoAcessar mdl-card__actions mdl-card--border">
                <button type="submit" class="fazerLogin mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Entrar</button>
              </div>
            </form>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-grid botoesRedesSociais">
              <div class="botaoAcessar mdl-cell mdl-cell--6-col">
                <button type="button" class="btnFacebook mdl-button mdl-js-button mdl-button--raised"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</button>
              </div>
              <div class="botaoAcessar mdl-cell mdl-cell--6-col">
                <button type="button" class="btnGoogle mdl-button mdl-js-button mdl-button--raised"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</button>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="socail"><span>Você não possui uma conta? <a href="/criarconta">Criar</a></span></div>
      <div class="socail"><span>Esqueceu a senha? <a href="/esqueciasenha">Lembrar</a></span></div>
    </div>
  </div>
</template>