.login .mdl-layout {
	align-items: center;
  justify-content: center;
}
.login .mdl-layout__content {
	padding: 24px;
	flex: none;
}

.botoesRedesSociais {
    padding: 0;
}
.btnFacebook {
    background-color: #3b5998 !important;
    color: #fff !important;
}
.btnFacebook:hover {
    background-color: #5378c5 !important;
}
.btnGoogle {
    background-color: #dd4b39 !important;
    color: #fff !important;
}
.btnGoogle:hover {
    background-color: #dc6c5e !important;
}

.botaoAcessar button {
    width: 100%;
}

.login .social {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.login .social span {
  display: inline-block;
  vertical-align: baseline;
  padding: 0 20px;
}

.login .social span:before, .login .social span:after {
  content: '';
  display: block;
  width: 500px;
  position: absolute;
  top: 0.9em;
  border-top: 1px solid White;
}
.login .social span:before {
  right: 75%;
}
.login .social span:after {
  left: 75%;
}