<template name="contatoOutroLocal">
  <form name="contatoOutroLocal">
    <p>Informe o local no qual o objeto foi deixado</p>
    <div class=" mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <select class="mdl-textfield__input" name="localDeixadoId">
      <option></option>
      {{#each locais}}
      <option value="{{_id}}" {{selected _id localSelect}}>{{nome}}</option>
      {{/each}}
    </select>
    </div>
  </form>
</template>