<template name="mainLayout">
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    {{>theme_header}} {{>theme_menu}}
    <main class="mdl-layout__content mdl-color--grey-100">
      
    </main>
  </div>
  
  <aside>
    {{> yield "aside"}}
  </aside>

  <article>
    {{> yield}}
  </article>

  <footer>
    {{> yield "footer"}}
  </footer>

</template>

<template name="main">
  main
</template>

<template name="blankLayout">
    {{> yield}}
</template>